<div class="uk-width-2-3@m  uk-card uk-card-default uk-padding-small uk-visible@m">
  <div class="uk-grid">
    <div class="uk-width-1-6@m">
      <img width="100" height = "50" src="images/topleft.png">
    </div>
    <div class="uk-width-expand@m uk-text-bolder uk-text-lead uk-text-center">
      <div class="title">The Points of Interest in Ireland</div>
    </div>
    <div class="uk-card uk-card-small uk-text-center uk-padding-remove">
      <a target="”_blank”" href="https://github.com/johngleeson93/12349591assignmentweb1">
        <div>
          <i class="fas fa-map-marked-alt fa-3x" style="color:rgb(95, 96, 173)" title="Source repo" pos="bottom"
             uk-tooltip></i>
        </div>
        <div class="uk-width-expand@m uk-text-left">
          <div class="uk-text-muted uk-text-center" style="font-size:xx-small">Poi 0.1</div>
        </div>
      </a>
    </div>
  </div>
</div>